{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<header>
  <div class="text-center">
    <h1 style="padding-top: 20%;">CloudForest Software</h1>
    <h3>Building Performance Simplified</h3>
    <form class="form-inline">
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-primary">Subscribe</button>
    </form>
  </div>
</header>

  <div style="background-color: #d9dadb; padding: 10px;">
    <div class="row text-center" style="margin: 10px;">
      <span style="font-size: 20px">I am a: </span>
      <button class="buttoncustomers"><i class="fa fa-building-o"></i> Architect</button> 
      <button class="buttoncustomers"><i class="fa fa-money"></i> Broker</button>
      <button class="buttoncustomers"><i class="fa fa-bar-chart"></i> Appraiser</button>
      <button class="buttoncustomers"><i class="fa fa-building"></i> Building Developer</button>
      <button class="buttoncustomers"><i class="fa fa-building-o"></i> Building Owner</button>
    </div>
    <div class="row text-center">
      <button class="buttoncustomers"><i class="fa fa-user"></i> Facility Manager</button>
      <button class="buttoncustomers"><i class="fa fa-cogs"></i> Engineer</button>
      <button class="buttoncustomers"><i class="fa fa-bolt"></i> Energy Modeler</button>
      <button class="buttoncustomers"><i class="fa fa-cogs"></i> Product Manufacturer</button>
    </div>
  </div>

<div class="container-fluid" style="padding: 20px;">
  <h1>What We Are All About: </h2>
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2>
      <h4>Lorem ipsum..</h4>
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #d9dadb; padding: 20px;">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench"></span>
      <h4>HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

{% endblock %}
