body {
  font-family: arial;
  text-align: center;
}

header{
    background: url("../assets/cfphoto-fixed.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 700px;
    width: 100%;
    background-attachment: fixed;
}

.navbar {
    margin-bottom: 0;
    background-color: white;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.buttoncustomers {
  background-color: #74bee5;
  border-radius: 15px;
  padding: 5px;
  font-size: 15px;
  width: 180px;
}

.logo-small {
    color: #67772d;
    font-size: 50px;
}

.logo {
    color: #67772d;
    font-size: 200px;
}

footer {
    font-size: 20px;
    /*margin-bottom: 20px;*/
    height: 200px;
    background-color: #d9dadb;
    /*color: #f4511e;*/
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
